<div class="app-content module-wrap">
	<smart-filter></smart-filter>
	<div class="module mb10">
		<div class="module-inner">
			<p class="inst">产品销售区域占比</p>
			<div class="module-chart clear">
				<div class="module-left mb10">
					<div id="mapArea"></div>
				</div>
				<div class="table-module-right mb10">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>省份</th>
								<th>销售占比</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pro in topProvince" ng-class="{current:province_id==pro.id}">
								<td ng-click="changeProvince(pro.id)" style="cursor: pointer;">{{pro.name}}</td>
								<td>{{pro.value}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="module">
		<div class="module-inner">
			<p class="inst">占比分析</p>
			<div class="module-chart clear">
				<div class="module-left mb20">
					<p class="chart-title">产品占比-品牌</p>
					<div id="brandProp"></div>
				</div>
				<div class="module-right mb20">
					<p class="chart-title">产品占比-人群分布</p>
					<div id="crowdProp"></div>
				</div>
				<div class="module-left mb20">
					<p class="chart-title">产品占比-尺码</p>
					<div id="sizeProp" class="mt10"></div>
				</div>
				<div class="module-right mb20">
					<p class="chart-title">产品占比-价格区间</p>
					<div id="priceProp" class="mt10"></div>
				</div>
				<div class="module-left mb20">
					<p class="chart-title">产品占比-材质</p>
					<div id="materialProp" class="mt10"></div>
				</div>
				<div class="module-right mb20">
					<p class="chart-title">产品占比-颜色</p>
					<div id="colorProp" class="mt10"></div>
				</div>
				<div class="module-left mb10">
					<p class="chart-title">产品占比-风格</p>
					<div id="styleProp" class="mt10"></div>
				</div>
				<div class="module-right mb10">
					<p class="chart-title">产品占比-版型</p>
					<div id="typeProp" class="mt10"></div>
				</div>
			</div>
		</div>
	</div>
</div>